.main {
  background-color: var(--bg1);
  font-family: var(--texts);
}

/* .circle {
  position: absolute;
  width: 459px;
  height: 459px;
  border-radius: 50%;
  background-image: none;
  background-color: #f8e4cf;
} */



