.container{
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.imgQuemSou{
    max-width: 400px;
    height: auto;
}

.container p{
    line-height: 1.5;
    max-width: 440px;
}

@media (max-width:900px) {
    .container p{
        font-size: var(--p-m);
    }
    .imgQuemSou {
        max-width: 300px;
    }
}

@media (max-width:700px) {
    .container p{
        font-size: var(--p-p);
    }
    .imgQuemSou {
        max-width: 250px;
    }
    
}
@media (max-width:630px) {
    .container p{
        font-size: var(--p-pp);
    }
    .imgQuemSou {
        max-width: 200px;
    }
    
}
@media (max-width:500px) {
    .container p{
        font-size: var(--p-xp);
        line-height: 1;
    }
    .imgQuemSou {
        max-width: 200px;
    }
    
}

